<p>{{id}}</p>

<form id='submit_notes'>
    {{!-- <span>Title: <br><input type='text' id='notes_title'></span>
    <br>
    <span>Notes: <br><textarea id='notes_paragraph'></textarea></span>
    <br>
    <button id='notes_submit'>Submit</button> --}}
    <div class='twelve columns'>
        <label class='u-full-width' for='notes_title'>Note Title</label>
        <input class='u-full-width' type='text' id='notes_title' name='title' value='Hello World ðŸ‘‹ this is a new note ðŸ“'>
    </div>

    <div class='twelve columns'>
        <label class='u-full-width' for='notes_paragraph'>Notes</label>
        <textarea class='u-full-width' id='notes_paragraph' name='notes'>- Yes... this is a new note
- I cant wait for this to actually work
- This is going to be great!</textarea>
    </div>

    <input type='submit' class='button-primary u-full-width'>
</form>

<div id = 'note_holder'>
{{#notes}}
<h3 class='regex-format'>{{title}}</h3>
<p class='regex-format'>{{notes}}</p>
{{/notes}}
</div>

<script>

    let notes = document.getElementsByClassName('regex-format')
    
    let alpha = Array.from(notes).map((acc) => {
        let data = acc.innerHTML.replace(/\n/g, "<br>")
        return data
    })

    for(var i = 0; i < alpha.length; i++){
        notes[i].innerHTML = alpha[i]
    }

    document.getElementById('submit_notes').addEventListener('submit', () => {

        let req = new XMLHttpRequest()
        req.open('POST', '/rooms/{{id}}')
        req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        let submission = new FormData(DOMID('submit_notes'))

        let payload = {
            title:submission.get('title'),
            notes:submission.get('notes')
        }

        req.onreadystatechange = () => {
            if(this.readyState == 4 && this.status == 200){
                console.log('complete')
            }
        }

        req.send(toUrlEncoded(payload))

        console.log(payload)
    })

</script>