<style>

    .card .delete{
        color:rgb(255, 61, 61);
        text-decoration: underline;
    }

    .card .delete:hover{
        cursor:pointer
    }

</style>

<div class = 'row'>
    {{#each rooms}}
        <div class = 'row'>
        {{#each this}}
            <div class='card four columns'>
                <p class = 'card_title'>{{this.room_name}}</p>
                <p class='card_id'>{{this.id}}</p>
                <a href='/rooms/{{this.id}}'>Join Room</a>
                <a class='delete' id="{{this.id}}.delete" onclick ="delete_room(this.id)">Delete</a>
            </div>
        {{/each}}
        </div>
    {{/each}}
</div>

<form id='new_room'>

    <div class="row">
        <label for='add_room'>Make a Room</label>
        <input placeholder='Enter a new Room Name Here' type='text' id='add_room' class='u-full-width' required>
    </div>

    <div class ='row'>
        <input type='submit' class='button-primary u-full-width'>
    </div>

</form>

<script>

    document.getElementById('new_room').addEventListener('submit',() => {
        
        req = new XMLHttpRequest();
        req.open('POST', '/rooms')
        req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        let newRoom = {
            room_name:DOMID('add_room').value,
        }

        req.onreadystatechange = () => {
            if(this.readyState == 4 && this.status == 200){
                console.log('complete')
            }
        }

        req.send(toUrlEncoded(newRoom))
    })

    function delete_room(location){
        console.log(location)
        let room = location.split('.')
        let completion = POSTPackage({room_id:room[0], method:room[1]}, 'manipulate/rooms')
        window.location.reload()
    }

</script>