*{
    font-family: monospace;
    font-size: large;
}
.card{
    margin-bottom: 16pt;
}
.card_title{
    font-weight: 600;
    margin:0;
}
.card_id{
    color:rgb(206, 206, 206);
    margin:0;
}

.window{
    min-height: 100vh;
}

footer{
    width:100%;
    background:#33C3F0;
    height:100pt;
    margin-top:32pt;
}

.button{
    font-size:large;
}